
* {
    box-sizing: border-box; 
}

body {
    padding: 5px;background:var(--gradient2);
    color:var(--col2);
    margin: 0; 
    min-height:100vh;
    animation: gradient 5s ease-in infinite;
}

.logo{
    width: 250px;
    padding: 4px;
    display: block;
    margin: 0 auto;
}


.pagetitle{
    width: 400px;
    display: block;
    margin: 0 auto;
    filter: var(--mfilt);
}

.glass{
background: rgba(255, 255, 255, 0);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
}

.modeswitch{
    border: transparent;
    position:fixed;
    background: transparent;
    z-index: 3;
    top:6px;
    right:15px;
    width:36px;
    height:36px;
    filter:var(--mfilt)
}


a{
    text-decoration: none;
}

/* NAV BAR DROP DOWN */

#navcontainer {
	margin: 0 auto;
}
 
nav {
	margin: 15px 0;
	background:var(--col2);
}
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}	

nav ul li {
	display:inline-block;
	background:var(--col2);
	}

nav a {
	display:block;
	padding:0 20px;	
	color: var(--col1);
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover { 
	background-color:var(--col2);
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 	
}	

nav ul li:hover > ul {
	display:inherit;
}	

nav ul ul li {
	width:230px;
	float:none;
    z-index: 5;
	display:list-item;
	position: relative;
}

nav ul ul ul li {
	position: relative;
	top:-60px; 
	left:230px;
}

nav ul ul li {
	border: 1px solid var(--col3);
}	

li > a:after { content:  ' ++'; }
li > a:only-child:after { content: ''; }

/* NAV BAR DROP DOWN */

.icon {
    width: 30px;
    height:30px;
    stroke: width 3;
}

.container {
    display: flex;
    padding: 5px;
    position: relative;
}

.m-column {
    flex: 0 0 80%;
    width: 100%;
    padding: 40px;
}
.s-column {
    flex: 0 0 20%;
    width: 100%;
}

.slide
{
    width: 900px;
}

.toolbox {
    padding: 10px;
    height: 100%;
    display:flexbox;
    align-items: center;
    overflow: hidden
    position: relative;
    width: 100%;
    background:transparent;
    margin: 0 auto;
    justify-items:center; 
    align-items: center; 
    
}


.toolbutton img {
    width: 48px;
    height: 48px;
    filter: var(--mfilt);
}

.toolbutton {
    color: var(--col2);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(142, 155, 90, 0.56);
    width: 120px;
    height: 120px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1em;
}

.toolbutton:hover {
    transform: scale(1.2, 1.2);
    color: var(--col1);
    background: var(--gradient1);
    text-shadow: 0 0 10px var(--col1), 0 0 30px var(--col1);
    z-index: 3;
}

.toolbutton:hover img{
    filter: var(--mfilt2);
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--col1);
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--col2);
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: var(--col2); 
}

.notice{
    color: var(--col2);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(142, 155, 90, 0.56);
    padding: 10px;
}

.notice h1{
font-size: 1.3em;
text-align: center;
}

.notice p{
    font-size: 1em;
}

/* Chatbot */

.chat-button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    background-color: var(--gradient1);
    color: var(--col2);
    border-radius: 5px;
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite;
    position:relative;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.close-button {
    background: none;
    border: none;
    color: var(--col2);
    font-size: 2em;
    cursor: pointer;
    float:left;
}

.chat-button img{
    width:auto;
    height:150px;
    display: block;
    position: relative;
}

.chat-container {
    width: 25%;
    margin: 20px auto;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    position:fixed;
    bottom:10px;
    float:left;
    z-index: 3;
}

.chat-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.chat-messages {
    width: 100%;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chat-input {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.chat-input input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    padding: 5px 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#user-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

#user-message {
    width: 80%;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 5px;
    padding-left: 10px;
}

#send-btn {
    padding: 7px 12px;
    background-color: #007bff;
    border: 0;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

#send-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}


.user-message {
    text-align: right;
    color: #007bff;
}

.chatbot-message {
    text-align: left;
    color: #333;
}

#option-btn-container {
    display: flex;
    align-items: flex-start;
    justify-content: right;
    flex-direction: column;
}

.btn-option {
    border: 0;
    background-color: #007bff;
    padding: 10px 15px;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.btn-option:hover{
    opacity: 0.8;
    cursor: pointer;
    
}

.btn-option:not(:last-child) {
    margin-bottom: 15px;
}
/* Chatbot */

/* Slide Show */

.image-slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  img {
    width: 100%
  }
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  @keyframes fade {
    from {opacity: .7}
    to {opacity: 1}
  }

  /* Slide Show */

  .promo-area {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: transparent;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
  }
  
.promo-container {
    width: 40%;
    height: 360px;
    border: 2px solid var(--col2);
    border-radius: 10px;
    display: inline-block; /* Use inline-block for side-by-side placement */
    margin: 10px; /* Add margin for spacing between promo-containers */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    padding: 30px;
    position: relative;
}
  
  

.promo-container img {
    display:inline-block;
    width:25%;
    filter: var(--mfilt);
    vertical-align:top;
    margin-right:10px;
}

.promo-container p{
    color: var(--col2);
    background: transparent
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1em;
    display: inline-block;
    width: 70%; 
}